.anons{
  margin: 0 auto;
  max-width: 1347px;
  min-height: 595px;
  background: url('../../img/anons_main_bg.png') 100% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 57px;
  &__info{
    box-sizing: border-box;
    max-width: 723px;
    background-color: rgb(255, 255,255, 75%);
    padding: 58px 87px;
    text-align: center;
    margin: 115px 0;
    @include medium{
      width: 90%;
      padding: 40px;
    }
    @include medium{
      padding: 40px 20px;
    }
    &_title{
      font-family: $primaryFont, serif;
      text-transform: uppercase;
      font-weight: $regular;
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 26px;
      text-align: center;
      letter-spacing: 1.1px;
      padding-top: 2px;
      padding-left: 6px;
      @include medium{
        font-size: 22px;
      }
    }
    &_text{
      max-width: 549px;
      font-size: 18px;
      line-height: 23px;
      font-family: $secondaryFont, serif;
      font-weight: $regular;
      margin-bottom: 40px;
      letter-spacing: 1.5px;
    }
    &_btn{
      display: inline-block;
      text-transform: uppercase;
      font-family: $primaryFont, serif;
      font-weight: $bold;
      color: #fff;
      background-color: $primaryColor;
      padding: 20px 66px;
      transition: 0.3s;
      letter-spacing: 1.1px;
      transform: translate(2px, 3px);
      &:hover{
        background-color: rgba(64, 163, 133, 1);
      }
      @include medium{
        width: 70%;
        padding: 20px;
      }
      @include very-small{
        font-size: 14px;
      }
    }
  }
}