.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    @include large{
      display: block;
    }
}
.receipts {
  margin-bottom: 80px;
  @include large{
    margin-bottom: 40px;
    border-bottom: 2px solid $primaryColor;
    padding-bottom: 20px;
  }
}
.receipts__filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
  @include largeX{
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    border-bottom: 2px solid $primaryColor;
    padding-bottom: 10px;
  }

}
.receipts__filter_item {
  @include link;
  width: fit-content;
  box-sizing: border-box;
  margin-right: 44px;
  line-height: 34px;
  text-shadow: 1px 1px 1px transparent;
  letter-spacing: 1.5px;
  transition: 0.3s all;
  &:active{
    color: $primaryColor;
  }
  &:hover{
    text-shadow: 0 0 1px $primaryColor, 0 0 1px $primaryColor;
    color: $primaryColor;
  }
  @include large {
    margin: 0;
  }
}

.receipts__blogs {
  display: flex;
  flex-direction: column;
  row-gap: 57px;
}
.receipts__blog {
  min-height: 221px;
  display: flex;
  flex-wrap: wrap;
  @include medium {
    width: auto;
    margin: 0 auto;
    border: 2px solid $primaryColor;
    padding: 10px;
  }
}
.receipts__blog_img {
  width: 224px;
  height: 221px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img{
    width: 100%;
  }
  @include largeX{
   margin: 0 auto;
  }
  &:hover{
    .blog__img_tags{
      transform: translateX(0);
    }
  }
  .blog__img_tags{
    box-sizing: border-box;
    position: absolute;
    top: auto;
    left: auto;
    width: 224px;
    height: 221px;
    padding: 28px 32px ;
    transition: 0.5s;
    transform: translateX(-100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    .blog__img_tag{
      display: inline-block;
      font-family: $secondaryFont, serif;
      color: rgba(35, 35, 35, 1);
      font-weight: $extraBold;
      font-size: $textFs;
      line-height: 24px;
      letter-spacing: 1.5px;
      transition: 0.3s;
      margin-bottom: 50px;
      &:hover{
        color: $primaryColor;
      }
    }
    .blog__img_hashtag{
      display: block;
      font-family: $secondaryFont, serif;
      color: rgba(35, 35, 35, 1);
      font-weight: $extraBold;
      font-size: $textFs;
      line-height: 24px;
      letter-spacing: 1.5px;
      transition: 0.3s;
      &:hover{
        color: $primaryColor;
      }
    }
  }
}
.receipts__blog_info {
  max-width: 520px;
  padding:25px 34px 49px 48px;
  @include largeX{
    margin: 0 auto;
    text-align: center;
  }
  @include large{
    text-align: left;
    padding: 30px 0;
  }
  @include medium{
    padding: 20px;
    text-align: center;
  }
}
.receipts__blog_title {
  text-transform: uppercase;
  font-weight: $bold;
  font-family: $primaryFont, serif;
  font-size: $titleFs;
  margin-bottom: 15px;
  line-height: 30px;
  letter-spacing: 1.1px;
  @include small{
    font-size: 18px;
  }
}
.receipts__blog_text {
  font-family: $secondaryFont, serif;
  font-weight: $regular;
  line-height: 20px;
  letter-spacing: 1.5px;  
  margin-bottom: 20px;
}
.receipts__blog_link {
  text-decoration: underline;
  font-family: $secondaryFont, serif;
  font-weight: $medium;
  transition: 0.3s;
  letter-spacing: 1.1px;
  &:hover{
    color: $primaryColor;
  }
}
// ASIDE

.aside {
  height: fit-content;
  // position: sticky;
  top: 10px;
  margin-bottom: 70px;
  @include large{
    width: 100%;
  }
  .aside__content{
    box-sizing: border-box;
    width: 100%;
    transition: 0.5s;
    margin-left: 15px;
    @include large{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    }
  }
}

.aside__links {
  width: 200px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 61px;
  padding-left: 2px;
}
.aside__link {
  padding-top: 7px;
  svg{
    path{
      transition: 0.3s;
    }
  }
  &:hover{
    svg{
      path{
        fill: $primaryColor;
      }
    }
  }
}

.tags {
  padding-bottom: 66px;
  @include large{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tags__title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: $primaryFont, serif;
  font-weight: $bold;
  letter-spacing: 1.1px;
  margin-bottom: 27px;
}
.tags__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 13px;
  @include large{
    justify-content: center;
  }
}
.tags__item {
  display: inline-block;
  padding: 13px 16px;
  background-color: $primaryColor;
  font-family: $secondaryFont;
  font-weight: $regular;
  transition: 0.3s;
  color: #fff;
  letter-spacing: 1.5px;
  &:hover{
    background-color: rgba(64, 163, 133, 1);
  }
}
.tags__link {
  display: inline-block;
  font-family: $secondaryFont, serif;
  font-weight: $regular;
  text-decoration: underline;
  letter-spacing: 1.5px;
  margin-top: 29px;
  transition: 0.3s;
  &:hover{
    color: $primaryColor;
  }
}
.aside__about {
  @include large{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 20px;
    margin-bottom: 18px;
  }
  img{
    width: 277px;
    height: 276px;
    margin-bottom: 18px;
  }
}
.aside__about_title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: $primaryFont, serif;
  font-weight: $bold;
  letter-spacing: 1.1px;
  margin-bottom: 17px;
}
.aside__about_text {
  font-family: $secondaryFont, serif;
  font-weight: $regular;
  line-height: 20px;
  padding-right: 14px;
  letter-spacing: 1.5px
}