body{
  background-color: #fff;
  color: $black;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
// *,
// *::after,
// *::before{
//   box-sizing: border-box;
// }
.container{
  max-width:1168px;
  margin: 0 auto;
  padding: 0 15px;  
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primaryColor;
  transition: 1s;
  &:hover{
    background-color: rgba(64, 163, 133, 1)
  }
}

body::-webkit-scrollbar-track {
  background-color: #c0c0c0;
}