$black: #232323;
$gray: #818181;
$primaryColor: #3D8B74;

$primaryFont: 'Josefin Sans';
$secondaryFont: 'Mulish';

$textFs: 16px;
$titleFs: 24px;

$bold: 700;
$regular: 400;
$extraBold: 800;
$medium: 600;